<div class="kids">
    <div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/kids1.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>TEES BTS PURPLE</b><br>
        <b>PURPLE SILICON WATCH</b><br>
           {{1500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/kids2.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG BLACK</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/kids3.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLUE DIAL SILICON</b><br>
        <b>STRAP WATCH FOR GUYS</b><br>
           {{1900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/kids4.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG BEIGE</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{2000 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/kids5.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
    <b>DOUBLE COLOR METAL STRAP</b><br>
       {{1500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
</div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/kids6.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG GREY</b><br>
    <b>SILICON STRAP WATCH</b><br>
       {{1900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
</div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/kids7.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG BLUE</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{200 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/kids8.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG GREY</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{1400 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>
</div>