<div class="boys">
    <div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/boys1.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>BLACK DIAL METAL STRAP</b><br>
           {{2000 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/boys2.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WITH BLUE<br>
        DIAL LEATHER STRAP WATCH</b><br>
    {{1500 | currency:'INR'}} <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>


<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/boys3.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>BLACK DIAL METAL STRAP</b><br>
         {{2000 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/boys4.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>WHITE DIAL STAINLESS</b><br>
        <b>SILVER METAL STRAP WATCH</b><br>
        {{2500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/boys5.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH WITH</b><br>
        <b>DATE AND TIME</b><br>
        {{1500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/boys6.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH WITH</b><br>
        <b>DATE BLUE STEEL WATCH</b><br>
        {{2000 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/boys7.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG BLUE DIAL</b><br>
        <b>LEATHER STRAP WATCH</b><br>
        {{1500 | currency:'INR'}} <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button> 
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/boys8.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>SPACE ROVER QUARTZ ANALOG</b><br>
        <b>BROWN STRAINLESS WATCH</b><br>
        {{1900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>
</div>
