<div class="home">
<div class="container">
    <img src="/assets/Image/but6.jpg" alt="Cinque Terre" width="1333px" height="570px">
    <div class="center"><h1>Zonata Zone</h1></div>
</div>




<div class="left"><h1>A Little About Us</h1>
    <p>Gandhipuram town at Coimatore Zonata Zone<br>
        We have 10 number of branches in every main cities<br>
        Yoy buy it from one branch and you can <br>
        service from another branch.<br>
        If are not ok with that watch you can replace it<br>
        to your near by branch.<br>
        It makes it easy to see the time. <br>
        It is also a fashion accessory for men and women
        ,<br> and expensive watches are designed for this purpose.<br>
        A watch may be one of the few accessories worn by a person.<br>
         A wristwatch is designed to be worn on a wrist,<br>
          attached by a strap or other type of bracelet</p>
    </div>
    

    <div class="right">
        <div class="centered">
            <img src="/assets/Image/watchab1.jpg" height="450px" width="450px">
        </div>
    </div>
</div>