<h1>PRIVACY POLICY</h1>
<p>Titan Company Limited (“Titan”, “We”, “Us”) is committed to the compliance of applicable Privacy Laws in the country<br>
     where Titan’s product is distributed. Protecting the privacy and security of your personal data is of prime importance to Titan,<br>
      therefore, we conduct our business by abiding by the laws applicable on data privacy and data security in the country where Titan’s product is distributed to you.<br>
      This Privacy Policy is intended to inform you about the personal data that is collected from you, how your personal data may be used and disclosed,<br>
       how you can control the use of your personal data, and how your personal data is protected when you use the Titan Application or the application developed by a<br>
        third party for Titan (“Application”). We do not sell trade your personally identifiable information; however, we may share the same with third parties who<br>
        assist us in conducting our business, operating our website/Application, or servicing you, so long as those parties agree to keep this information confidential.</p>

<h1>TITAN WEARABLES PRIVACY NOTICE</h1>
<p>Titan (also referred here as ‘We’, ‘Us’, ‘Our’) has created this Privacy Notice in order to demonstrate<br>
     our privacy commitment to our users. Except for specific Titan products or services providing independent <br>
     privacy policy/notice, this privacy notice is intended to inform you of our privacy practices for our devices,<br>
      applications and websites and how we process (gather, define, and use) personal data that you provide to us when<br>
       you register on our smart wearables or the mobile application and leverage the services provided by us. <br>
       This Privacy Notice will primarily help you understand:</p>
<p>
       <b>a.</b>The nature of data we collect from <br>

       <b>b.</b>The sources from where your data is collected (Including the cases where personal data is not directly collected from you)<br>
       
       <b>c.</b>The purpose of collecting your data<br>
       
       <b>d.</b> The manner in which your data is collected, stored, used and processed<br>
       
       <b>e.</b> The rights that can be exercised by you<br>
       
       <b>f.</b> The measures we take to keep the data safe<br></p>