<div class="sports">
    <div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/sports1.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>URBAN BOUNCE QUARTZ</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{1900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/sports2.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>STREET WEAR DIGITAL</b><br>
        <b>DIAL STRAP WATCH</b><br>
           {{1500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/sports3.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>TRENDIES QUARTZ ANALOG</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{1400 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/sports4.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QTRENDIES QUARTZ ANALOG</b><br>
        <b>BLACK SILICON STRAP WATCH</b><br>
           {{1500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/sports5.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>TRENDIES QUARTZ ANALOG</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{2000 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/sports6.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>FASTRACK FASTFIT QUARTZ</b><br>
        <b>BLACK STRAP WATCH</b><br>
           {{1500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/sports7.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG BLACK</b><br>
        <b>STRAINLESS STEEL WATCH</b><br>
           {{1900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/sports8.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLACK AND BLUE</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{1200 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>
</div>