<div class="sonata">
    <div class="gallery">
        <a href="watch.jpg">
            <img src='/assets/Image/sonata30.1.webp' height="290px" width="300px">
        </a>
        <div class="desc"><b>QUARTZ ANALOG PINK DIAL</b><br>
            <b>LEATHER STRAP FOR GIRLS</b><br>
            <del> {{1500 | currency:'INR'}}   </del> {{1000 | currency:'INR'}}  <span style="color: red; font-style: normal;">(46%off)</span><br>
            <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
        </div>
    </div>

    <div class="gallery">
        <a href="watch.jpg">
            <img src='/assets/Image/sonata30.2.webp' height="290px" width="300px">
        </a>
        <div class="desc"><b>QUARTZ ANALOG BLACK DIAL</b><br>
            <b>LEATHER STRAP FOR GIRLS</b><br>
            <del> {{2500 | currency:'INR'}}   </del> {{1500 | currency:'INR'}}  <span style="color: red; font-style: normal;">(30%off)</span><br>
            <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
        </div>
    </div>   

    <div class="gallery">
        <a href="watch.jpg">
            <img src='/assets/Image/sonata30.3.webp' height="290px" width="300px">
        </a>
        <div class="desc"><b>BLUE DIAL PLASTIC</b><br>
            <b>STRAP WATCH FOR GIRLS</b><br>
            <del> {{1500 | currency:'INR'}}   </del> {{1100 | currency:'INR'}}  <span style="color: red; font-style: normal;">(20%off)</span><br>
            <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
        </div>
    </div> 

    <div class="gallery">
        <a href="watch.jpg">
            <img src='/assets/Image/sonata30.4.webp' height="290px" width="300px">
        </a>
        <div class="desc"><b>DOT TO DOT DIAL PLASTIC</b><br>
            <b>STRAP WATCH FOR GIRLS</b><br>
            <del> {{1200 | currency:'INR'}}   </del> {{900 | currency:'INR'}}  <span style="color: red; font-style: normal;">(20%off)</span><br>
            <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
        </div>
    </div> 

    

    <div class="gallery">
        <a href="watch.jpg">
            <img src='/assets/Image/sonata30.5.webp' height="290px" width="300px">
        </a>
        <div class="desc"><b>KNOT BLUE DIAL LEATHER</b><br>
            <b>STRAP WATCH FOR BOYS</b><br>
            <del> {{1900 | currency:'INR'}}   </del> {{1500 | currency:'INR'}}  <span style="color: red; font-style: normal;">(36%off)</span><br>
            <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
        </div>
    </div> 

    <div class="gallery">
        <a href="watch.jpg">
            <img src='/assets/Image/sonata30.6.webp' height="290px" width="300px">
        </a>
        <div class="desc"><b>KNOT BROWN DIAL</b><br>
            <b>STRAP WATCH FOR GIRLS</b><br>
            <del> {{1500 | currency:'INR'}}   </del> {{1000 | currency:'INR'}}  <span style="color: red; font-style: normal;">(30%off)</span><br>
            <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
        </div>
    </div> 

    <div class="gallery">
        <a href="watch.jpg">
            <img src='/assets/Image/sonata30.7.webp' height="290px" width="300px">
        </a>
        <div class="desc"><b>WHITE AND GREY COLOURED</b><br>
            <b>LEATHER STRAP WATCH</b><br>
            <del> {{1700 | currency:'INR'}}   </del> {{1500 | currency:'INR'}}  <span style="color: red; font-style: normal;">(40%off)</span><br>
            <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
        </div>
    </div> 

    <div class="gallery">
        <a href="watch.jpg">
            <img src='/assets/Image/sonata30.8.webp' height="290px" width="300px">
        </a>
        <div class="desc"><b>DIAL BEIGE LEATHER</b><br>
            <b>STRAP WATCH</b><br>
            <del> {{1700 | currency:'INR'}}   </del> {{1200 | currency:'INR'}}  <span style="color: red; font-style: normal;">(36%off)</span><br>
            <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
        </div>
    </div> 
</div>