<div class="style">
    <div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/style1.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>MODEL BLUE STYLISH</b><br>
        <b>STRAP WATCH</b><br>
         {{1200 | currency:'INR'}} 
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div> 

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/style2.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLACK STAINLESS</b><br>
        <b>STRAP WATCH</b><br>
         {{1500 | currency:'INR'}} 
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div> 

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/style3.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>WHITE WITH GOLD</b><br>
        <b>STRAP WATCH</b><br>
        {{1000 | currency:'INR'}} 
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div> 

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/style4.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>MODEL BLUE</b><br>
        <b>CHAIN WATCH FOR GIRLS</b><br>
        {{1500 | currency:'INR'}}
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div> 

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/style5.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLACK LEATHER</b><br>
        <b>STRAP WATCH</b><br>
         {{1200 | currency:'INR'}}
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div> 

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/style6.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BROWN STRAP WATCH WITH</b><br>
        <b>DATE AND TIME</b><br>
         {{900 | currency:'INR'}} 
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div> 

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/style7.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>DIAL BEIGE LEATHER</b><br>
        <b>STRAP WATCH</b><br>
         {{1200 | currency:'INR'}}
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div> 

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/style9.jpg' height="290px" width="300px">
    </a>
    <div class="desc"><b>DIAL BEIGE LEATHER</b><br>
        <b>BLUE COLUR STRAP WATCH</b><br>
         {{1200 | currency:'INR'}} 
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div> 
</div>
