<div class="chain">
    <div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/chain1.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG SILVER</b><br>
        <b>LEATHER STRAP WATCH</b><br>
           {{1800 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/chain2.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG BLACK</b><br>
        <b>LEATHER STRAP WATCH</b><br>
           {{2300 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/chain3.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG SILVER</b><br>
        <b>SRAINLESS STRAP WATCH</b><br>
           {{1800 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/chain4.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLUE DIAL METAL</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{2800 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/chain5.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLACK DIAL METAL</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{2000 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/chain6.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>PINK DIAL METAL</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{2500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/chain7.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>GREEN DIAL METAL</b><br>
        <b>SILICON STRAP WATCH</b><br>
           {{1900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/chain8.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>SILVER METAL WATCH</b><br>
        <b>FOR GUYS</b><br>
           {{2000 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>
</div>





