<div class="fastrack">
    <div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/fastrack1.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLACK ANALOG WATCH</b><br>
        <del> {{1900 | currency:'INR'}}   </del> {{1500 | currency:'INR'}}  <span style="color: red; font-style: normal;">(16%off)</span><br>
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/fastrack2.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BROWN DIAL METAL</b><br>
        <b>QUARTZ ANALOG FOR GIRLS</b><br>
        <del> {{1700 | currency:'INR'}}   </del> {{1200 | currency:'INR'}}  <span style="color: red; font-style: normal;">(15%off)</span><br>
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/fastrack3.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WITH</b><br>
        <b>DAY AND DATE</b><BR>
        <del> {{2500 | currency:'INR'}}   </del> {{1900 | currency:'INR'}}  <span style="color: red; font-style: normal;">(20%off)</span><br>
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/fastrack4.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BROWN DIAL STAINLESS</b><br>
        <b>STEEL STRAP WATCH</b><br>
        <del> {{1500 | currency:'INR'}}   </del> {{1000 | currency:'INR'}}  <span style="color: red; font-style: normal;">(25%off)</span><br>
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/fastrack5.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>GREY DIAL LEATHERS</b><br>
        <b>STRAP WATCH FOR GIRLS</b><br>
        <del> {{1800 | currency:'INR'}}   </del> {{1500 | currency:'INR'}}  <span style="color: red; font-style: normal;">(10%off)</span><br>
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/fastrack6.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>ROVER QUARTZ ANALOG</b><br>
        <b>STAINLESS STEEL WATCH</b><br>
        <del> {{1500 | currency:'INR'}}   </del> {{1000 | currency:'INR'}}  <span style="color: red; font-style: normal;">(36%off)</span><br>
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/fastrack7.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLACK SILICON STRAP WATCH</b><br>
        <b>FOR GIRLS</b><br>
        <del> {{1500 | currency:'INR'}}   </del> {{1000 | currency:'INR'}}  <span style="color: red; font-style: normal;">(25%off)</span><br>
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/fastrack8.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>BLUE DIALLEATHER STRAP</b><br>
        <b>WATCH FOR GIRLS</b><br>
        <del> {{2000 | currency:'INR'}}   </del> {{1500 | currency:'INR'}}  <span style="color: red; font-style: normal;">(10%off)</span><br>
        <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>
</div>