<div class="girls">
    <div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/girls1.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>BLUE DIAL METAL STRAP</b><br>
           {{1000 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/girls2.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>BLACK DIAL METAL STRAP</b><br>
           {{900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/girls3.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>BLUE DIAL METAL STRAP</b><br>
           {{21500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/girls4.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>SILVER  METAL STRAP</b><br>
           {{100 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/girls5.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>BROWN METAL STRAP</b><br>
           {{1500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/girls6.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>TRIPLE COLOR METAL STRAP</b><br>
           {{1500 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/girls7.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>BLUE DIAL METAL STRAP</b><br>
           {{1200 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>

<div class="gallery">
    <a href="watch.jpg">
        <img src='/assets/Image/girls8.webp' height="290px" width="300px">
    </a>
    <div class="desc"><b>QUARTZ ANALOG WATCH</b><br>
        <b>BLACK METAL STRAP</b><br>
           {{900 | currency:'INR'}}  <button type="button" routerLink="/contact" routerLinkActive="active">Order Now</button>
    </div>
</div>
</div>