<div class="products">
<div class="galleryy">
    <img routerLink="/boys" routerLinkActive="active"  src='/assets/Image/boystop.webp' height="390px" width="400px">
    <div class="desc">Boys Watch</div> 
</div>

    <div class="galleryy">
        <img routerLink="/girls" routerLinkActive="active"  src='/assets/Image/watchab3.webp' height="390px" width="400px">
        <div class="desc">Girls Watch</div> 
    </div>

    <div class="galleryy">
        <img routerLink="/kids" routerLinkActive="active"  src='/assets/Image/watchab4.webp' height="390px" width="400px">
        <div class="desc">Kids Watch</div> 
    </div>

    <div class="galleryy">
        <img routerLink="/sports" routerLinkActive="active"  src='/assets/Image/watchab5.webp' height="390px" width="400px">
        <div class="desc">Sports Watch</div> 
    </div>

    <div class="galleryy">
        <img routerLink="/chain" routerLinkActive="active"  src='/assets/Image/watchab6.webp' height="390px" width="400px">
        <div class="desc">Chain Watch</div> 
    </div>

    <div class="galleryy">
        <img routerLink="/style" routerLinkActive="active"  src='/assets/Image/watchab7.webp' height="390px" width="400px">
        <div class="desc">Stylish watch</div> 
    </div>
</div>