<h1>FASTRACK WIRELESS AUDIO</h1>
<p>Fastrack warrantees the product to be free from manufacturing defects for 12 months from the date of purchase.This non-transferable warranty is only for the first end user on purchase from Titan <br>
    Authorized Sales Channels. Please enjoy our warranty services under below terms and conditions.</p>
<ul>
    <li>The validity period starts from the date of purchase.</li>
    <li>Any damage to the headphones that is not a manufacturing issue will make the product’s warranty null and void.</li>
<li>Please take good care of your earphones to avoid accidental damage</li>
<li>Warranty will be valid only when the original purchase invoice is presented before service</li>
<li>The Warranty does not cover audio quality and issues arising from wear and tear during usage of the product</li>
<li>Fastrack reserves the right to replace the defective part with an equivalent and/or reconditioned part</li>
</ul><br>

<h2>MAINTENANCE, CARE AND GOOD USE</h2>
<p>Good use, care and maintenance of your earphones will extend its life.<br>
    Maintain that mint look</p>
    <ul>
        <li>Wipe exteriors with a soft moist cloth (not wet) at a suitable frequency depending on your usage</li>
        <li>Do not use chemical products or strong detergents to clean the earphones</li>
        <li>Do not drop, subject to strong vibration or strike with hard objects to avoid damage to the electronic circuits</li>
        <li>Put the device back in the case after use.</li>
        <li>To maintain the health of the internal battery, do not charge for more than 10 hours at a stretch.</li>
    </ul>
    <h2>ENJOY RESPONSIBLY</h2>
    <ul>
        <li>Do not use wireless devices where it is strictly prohibited, such as while operating a vehicle, crossing a street, or during any activity where full awareness of your surroundings is required.</li>
    <li>We’d recommend listening at minimum volume when using the device for calls and music so you can protect yourself from any damage to your ears.</li>
    <li>We’d recommend not sharing your device with others (for better ear hygiene).</li>
    <li>The device has a non-removable built-in battery which can only be replaced by our service center. Do not attempt to remove or replace it on your own.</li>
    <li>Turn off the device while cleaning it.</li>
    </ul>